CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake

# Linux temporary files
*.gch
*.o
*.so
*.a
*.out

# Windows temporary files
*.lib
*.pdb
*.exe

# my build folders
build/
vsproject/
.vscode/
bin/
*.code-workspace

# data folders
/data*
/test*
reference/

# logs
*.log
